{% extends 'partials/base.html' %}
{% block title %} Trends {% endblock %}


    {% block content %}
        {% include 'partials/topside_nav.html' %}
        <div class="container ">
        <div class="row">
            <div class="col">

            <hr>
            {{ sales_plot|safe}}
            <hr>
            {{ all_plot|safe }}
            <hr>
            {{ current_year_trend_plot|safe }}
            {{ stock_plot|safe }}


            </div>
        </div>
        </div>



    {% endblock %}
